extends ../layout/common
block content
    h1 Create User

    if errors
        each error in errors
            .alert.alert-danger= error

    form(action="/user/create", method="POST")
        .form-group
            label(for="name") Name
            input#name.form-control(type="text", name="name", value= values ? values.name : '')

            label.mt-3(for="phone") Phone
            input#phone.form-control(type="text", name="phone", value= values ? values.phone : '')

            button.btn.btn-dark.mt-3 Create